# Review Continued...Some added notes to study . 
#### Remember extracting from df and arrays are not entirely the same.
JP Sabini
April 24

In [74]:
import pandas as pd
import numpy as np

In [76]:
import numpy as np
df=pd.DataFrame([["a","b","c"],["d","e","f"],["g","h","i"]])
arr2d=np.array([["1","b","2"],["3","e","4"],["5","h","6"]])
print(arr2d)
df

[['1' 'b' '2']
 ['3' 'e' '4']
 ['5' 'h' '6']]

   0  1  2
0  a  b  c
1  d  e  f
2  g  h  i

#### review Numpy with pandas.

In [71]:
# select the e,f,h,i elements from df2 and then the a,c,d,f elements from df

In [69]:
# select the e,4,h,6 elements from arr2d

In [67]:
#Select the 3,4,5,6 items from array above.
#Use array selectors [ , ]to extract the exact items. Don't use df:  
#You must produce a 2 d array not a df
# In other words, use 1 statement to extract the last two rows without the middle column
# and produce a 2d array result. 
# are there differences in the selection ranges for df and arrays here?

In [68]:
#merge the two data sets.What do you need to do here before you merge? 
#What is the difference between left and right joins?

# End